.navbar {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    gap: 20px;
    background-color: white;
}

.logo {
    height: 60px;
}

.navbar-brand {
    font-weight: bold;
    font-size: 2rem;
}

.nav-item .nav-link {
    opacity: 0.5;
    font-weight: normal;
}

.navbar-nav .nav-link:hover {
    font-weight: bold;
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

.navbar-nav .nav-item:last-child {
    margin-right: 0;
}

.container {
    display: flex;
    justify-content: center;
}

.main-image-container {
    position: relative;
}

.main-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 450px;
    border-radius: 15px;
}

.thumbnail-carousel {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 20px;
    overflow: hidden;
}

.thumbnail-container {
    display: flex;
    gap: 10px;
    transition: transform 0.3s ease-in-out;
}

.thumbnail {
    width: 40%;
    height: 35%;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 5px;
}

.main-image img,
.thumbnail {
    cursor: pointer;
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.left-arrow {
    left: -40px;
}

.right-arrow {
    right: -40px;
}

.try-now {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px; /* Tăng kích thước padding để phóng to nút */
    border-radius: 10px; /* Tăng độ bo tròn của nút */
    font-size: 16px; /* Phóng to chữ */
    cursor: pointer;
    display: flex;
    align-items: center; /* Căn giữa nội dung theo chiều dọc */
    gap: 10px; /* Khoảng cách giữa icon và chữ */
    transition: all 0.3s ease;
}

.try-now:hover {
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
}

.try-now i {
    font-size: 20px; /* Phóng to icon máy ảnh */
}

.try-now:hover i {
    font-weight: bold;
}

.col-md-6:first-child {
    width: 60%;
}

.col-md-6:last-child {
    width: 40%; /* Tăng chiều rộng của cột thông tin bên phải */
    padding-left: 40px; /* Tăng khoảng cách từ trái để tạo không gian */
}

.row {
    display: flex;
    justify-content: space-between;
}

.color-btn {
    width: 30px;
    height: 30px;
}

.custom-add-to-cart {
    background-color: #ffc107;
    color: black;
    border: none;
}

.custom-add-to-cart:hover {
    background-color: #e0a800; /* Vàng đậm hơn khi hover */
    color: black;
}